/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

@media (max-width: 1600px) {
  html {
    font-size: 70%;
  }
  .home {
    /* padding-top: 15rem; */
  }
}
/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
  .home-img {
    width: 30rem;
  }
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 1200px) {
  html {
    /* font-size: 80%; */
    /* font-size: 56.25%; */
  }
  .home-img {
    width: 25rem;
  }
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
  html {
    /* font-size: 70%; */
  }
  .home {
    flex-direction: column;
    /* height: 100%; */
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
  /* .home {
    padding-top: 20rem;
  } */
  html {
    font-size: 60%;
  }
  .subject-container {
    gap: 2rem;
  }
  .why-hadith {
    height: 180px !important;
  }
  .logo {
    width: 22rem !important;
  }
}
/**************************/
/* BELOW 400px  */
/**************************/
@media (max-width: 430px) {
  /* .subject-container {
    gap: 1rem;
  } */
  .why-hadith {
    height: 230px !important;
  }
  .footer {
    flex-direction: column;
  }
}
